.cont {
  height: 200px;
  position: relative;
}


.lvldisplay {
    align-self: center;
    align-items: center;   
     background-color: white;
}

.handisplay {
    font-size: 80px;
    text-align:center;
}

.centereddiv{
    display: flex;
    justify-content: center;
}

.smalldisplay{
    font-size: 20px;
    padding: 20px;
}

.unpressed {
    background: lightgrey;
    font-size: 30px;
    align-self: center;
    align-items: center;
}

.unpressed:hover{
    background: darkgrey;
    font-size: 30px;
    align-self: center;
    align-items: center;
}

.pressed {
    background: lightpink;
    font-size: 30px;
    align-self: center;
    align-items: center;
}

.pressed2 {
    background: lightblue;
    font-size: 30px;
    align-self: center;
    align-items: center;
}

.button3 {
    background: rgb(194, 248, 194);
    align-self: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.button4 {
    background: rgb(248, 183, 234);
    align-self: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.button4:hover {
    background: rgb(255, 148, 232);
    align-self: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.button5 {
    background: rgb(160, 209, 255);
    align-self: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.button5:hover {
    background: rgb(114, 187, 255);
    align-self: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.button3:hover{
    background: rgb(126, 250, 126);
    align-self: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.button3:active {
    background-color: #62f367;
  }